# pause/waiting time before clicking next, unit : second
interval=10

# minimum energy to enter sleep mode
min_energy=0

# sleep mode is a mode used when the amount of energy is reached or the energy is exhausted
# how long enter sleep mode , unit : second
sleep=200

# change auto_upgrade level to true for enable this feature
auto_upgrade=true